<div *ngIf="success" class="alert alert-success" role="alert">
  Employee created successfully
</div>
<div *ngIf="errors != undefined && errors.length > 0">
  <div *ngFor="let error of errors" class="alert alert-danger">
    {{ error }}
  </div>
</div>
<div class="container" style="margin-top:30px">
  <div class="col-md-12">
    <div class="modal-dialog" style="margin-bottom:0">
      <div class="modal-content">
        <div class="panel-heading">
          <h3 class="panel-title">Create Employee</h3>
        </div>
        <div class="panel-body">
          <form role="form">
            <fieldset>
              <div class="form-group">
                <label for="name" class="cols-sm-2 control-label">Name</label>
                <div class="cols-sm-10">
                  <div class="input-group">
                    <span class="input-group-addon">
                      <i class="fa fa-user fa" aria-hidden="true"></i>
                    </span>
                    <input type="text" class="form-control" id="name" placeholder="Enter your Name" required [(ngModel)]="emp.name" name="name"
                      #name="ngModel" />
                  </div>
                  <div *ngIf="name.errors?.required && (name.dirty || name.touched)" class="alert alert-danger">
                    <div> Name cannot be empty</div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="email" class="cols-sm-2 control-label">Email</label>
                <div class="cols-sm-10">
                  <div class="input-group">
                    <span class="input-group-addon">
                      <i class="fa fa-envelope fa" aria-hidden="true"></i>
                    </span>
                    <input type="text" class="form-control" id="email" placeholder="Enter your Email" required [(ngModel)]="emp.email" name="email"
                      appValidEmail="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" #email="ngModel" />
                  </div>
                  <div *ngIf="email.errors?.required && (email.dirty || email.touched)" class="alert alert-danger">
                    <div> Email cannot be empty</div>
                  </div>
                  <div *ngIf="email.errors?.forbiddenEmail && (email.dirty || email.touched)" class="alert alert-danger">
                    <div> Email address is invalid. Please enter a valid email address.</div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="username" class="cols-sm-2 control-label">Username</label>
                <div class="cols-sm-10">
                  <div class="input-group">
                    <span class="input-group-addon">
                      <i class="fa fa-user-circle" aria-hidden="true"></i>
                    </span>
                    <input type="text" class="form-control" id="username" placeholder="Enter your Username" required minlength="5" [(ngModel)]="emp.username"
                      name="username" #user="ngModel">

                  </div>
                  <div *ngIf="user.errors?.required && (user.dirty || user.touched)" class="alert alert-danger">
                    <div> Username cannot be empty</div>
                  </div>
                  <div *ngIf="user.errors?.minlength && (user.dirty || user.touched)" class="alert alert-danger">
                    <div> Username must be a minimum of 5 characters</div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="password" class="cols-sm-2 control-label">Password</label>
                <div class="cols-sm-10">
                  <div class="input-group">
                    <span class="input-group-addon">
                      <i class="fa fa-lock fa-lg" aria-hidden="true"></i>
                    </span>
                    <!-- https://stackoverflow.com/questions/33670870/regex-for-1-uppercase-1-special-character-and-1-lowecase?noredirect=1&lq=1 -->
                    <!-- https://stackoverflow.com/questions/37266363/show-hide-password-text-using-angular2 -->
                    <input [type]="showPW ? 'text' : 'password'" class="form-control" name="password" id="password" placeholder="Enter your Password"
                      required [(ngModel)]="emp.password" appValidPassword="^(?=.{8,})(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@#$%^!&*+=]).*$"
                      name="password" #password="ngModel" />
                    <span class="input-group-addon">
                      <i (click)="showPassword()" [class]="showPW ? 'far fa-eye-slash' : 'far fa-eye'"></i>
                    </span>

                  </div>
                  <div *ngIf="password.errors?.required && (password.dirty || password.touched)" class="alert alert-danger">
                    <div> Password cannot be empty</div>
                  </div>
                  <div *ngIf="password.errors?.forbiddenPassword && (password.dirty || password.touched)" class="alert alert-danger">
                    <div> Password must be at least eight characters and must have the ff: one uppercase letter, one lowercase
                      letter, one number, and a special character. </div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="confirm" class="cols-sm-2 control-label">Confirm Password</label>
                <div class="cols-sm-10">
                  <div class="input-group">
                    <span class="input-group-addon">
                      <i class="fa fa-lock fa-lg" aria-hidden="true"></i>
                    </span>
                    <input [type]="showPW ? 'text' : 'password'" class="form-control" name="confirm" id="confirm" placeholder="Confirm your Password"
                      ngModel required #confirm="ngModel" />
                    <span class="input-group-addon">
                      <i (click)="showPassword()" [class]="showPW ? 'far fa-eye-slash' : 'far fa-eye'"></i>
                    </span>
                  </div>
                  <div *ngIf="confirm.errors?.required && (confirm.dirty || confirm.touched)" class="alert alert-danger">
                    <div> Kindly confirm your password</div>
                  </div>
                  <!-- https://www.youtube.com/watch?v=fj8M-3vEVLc -->
                  <div *ngIf="confirm.value !== password.value && (confirm.dirty || confirm.touched)" class="alert alert-danger">
                    <div> Password does not match</div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="guild" class="cols-sm-2 control-label">Guild</label>
                <div class="cols-sm-6">
                  <div class="input-group">
                    <span class="input-group-addon">
                      <i class="fa fa-users fa" aria-hidden="true"></i>
                    </span>
                    <select (change)="setJobClass(emp)" class="form-control form-control-sm" id="" required [(ngModel)]="emp.guild" name="guild"
                      #guild="ngModel">
                      <option value="" selected disabled>Please select Guild..</option>
                      <option value="Knights of the Round Table">Knights of the Round Table</option>
                      <option value="Legion of Arrows">Legion of Arrows</option>
                      <option value="Circle of Magicians">Circle of Magicians</option>
                      <option value="Shadow Brotherhood">Shadow Brotherhood</option>
                      <option value="The Elder Council">The Elder Council</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="jobClass" class="cols-sm-2 control-label">Job Class</label>
                <div class="cols-sm-10">
                  <div class="input-group">
                    <span class="input-group-addon">
                      <i class="fa fa-gavel fa" aria-hidden="true"></i>
                    </span>
                    <input type="text" class="form-control" id="jobClass" placeholder="Job Class" required readonly [(ngModel)]="emp.jobClass"
                      name="jobClass" #username="ngModel">
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="joinDate" class="cols-sm-2 control-label">Join Date</label>

                <div class="cols-sm-10">
                  <div class="input-group">
                    <span class="input-group-addon">
                      <i class="fa fa-calendar fa" aria-hidden="true"></i>
                    </span>
                    <input (click)="d.toggle()" class="form-control" type="text" ngbDatepicker #d="ngbDatepicker" [(ngModel)]="emp.joinDate"
                      name="joinDate" />

                  </div>
                </div>

              </div>

              <div class="form-group">
                <label for="avatar" class="cols-sm-2 control-label">Avatar</label>

                <div class="cols-sm-10">
                  <div class="input-group">
                    <img alt="User Pic" src="{{ emp.avatar }}" id="avatar" class="img-thumbnail" style="width: 80px; height: 80px;"> &nbsp;&nbsp;&nbsp;
                    <a type="button" id="button" class="btn btn-primary btn-sm" (click)="modal.show()">Select Avatar..</a>
                    <app-avatar-modal #modal>
                      <div class="app-avatar-modal-header">
                        <h3>Select Avatar</h3>
                      </div>
                      <div class="app-avatar-modal-body">
                        <div class="row">
                          <div *ngFor="let avatar of avatars" class="col-sm-3">
                            <a href="javascript:void(0)" type="img" (click)="setDefaultAvatar(avatar);modal.hide()">
                              <img src="{{ avatar }}" style="width: 80px; height: 80px; margin: 20px;" class="zoom">
                            </a>
                          </div>
                        </div>

                      </div>


                    </app-avatar-modal>


                  </div>
                </div>

              </div>



              <div class="form-group ">
                <a (click)=createEmployee(emp) target="_blank" type="button" id="button" class="btn btn-primary btn-lg btn-block login-button">Register</a>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
  <hr>
</div>